.root {
  display: flex;
  margin-top: 8px;
  background-color: lightcyan;
}

.item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: rgb(0 0 0 / 60%);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.item:hover {
  background-color: #e0e0e0;
  border-radius: 4px;
  color: #333;
}

.chip {
  margin-left: 4px;
  padding: 4px;
  background-color: #dff4cf;
  color: #357a00;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
}
