.root {
  position: relative;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  /* MEMO: MegaMenu を画面の横幅いっぱいに広げたいので、親要素のpaddingではなく、ここにマージンを追加しました。 */
  margin-left: 24px;
  background-color: aliceblue;
}
