.root {
  position: fixed;
  top: 0px;
  left: auto;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 281px);
  height: 80px;
  background-color: rgba(249, 250, 251, 0.8);
  z-index: 9000;
}
