.root {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background-color: pink;
}
.root:hover {
  color: #e6e4dd;
}
