.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
  background-color: white;
}

.list {
  height: 64px;
  margin-left: 0;
  padding: 0 12px;
  /* TODO: 本来線の長さは文字の高さと同じくらいです。現在は、ホバーした時に反応する範囲を優先しています。両立する方法は時間があったら検討します。 */
  border-right: 1px solid #d8d8d8;
}

.list:last-child {
  border: none;
}
